/* src/assets/theme.css */

/* Tema Claro */
:root {
  --color-text: rgb(61, 106, 143);
  --color-background: rgb(237, 243, 248);
  --color-primary: rgb(242, 163, 95);
  --color-secondary: rgb(242, 200, 161);
  --color-accent: rgb(242, 139, 80);
  --border: 214.3 31.8% 91.4%;
}

/* Tema Escuro */
html.dark {
  --color-text: rgb(237, 243, 248);
  --color-background: rgb(40, 48, 58);
  --color-primary: rgb(242, 139, 80);
  --color-secondary: rgb(161, 129, 242);
  --color-accent: rgb(242, 163, 95);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
